html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: #eeeeee;
}
main{}
footer{}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3{
    margin-block-start: 0;
    margin-block-end: 0;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}

.main-header{
    padding-bottom: 17px;
}
.main-wrapper{
    width: 1200px;
    margin: 0 auto;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
}
         /*Блок шапки*/

.main-navigation img{
    padding-left: 20px;
    padding-top: 49px;
    float: left;
}
.site-navigation{
    list-style: none;
    display: inline-block;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    padding-left: 202px;
    float: left;
    padding-top: 83px;
}
.site-navigation-item{
    display: inline-block;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
}
.site-navigation-item a{
    display: inline-block;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

.navigation-studio{

}
.navigation-clients{
    padding-left: 47px;
}
.navigation-shop{
    padding-left: 48px;
}
.navigation-contacts{
    padding-left: 45px;
}

.cart-container{
    display: inline-block;
    padding-left: 286px;
    float: left;
    padding-top: 83px;
}
.cart{
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}



.slider-block__container{
    background-color: #eeeeee;
    width: 100%;
}
.slider-block__left{
    background-color: #eeeeee;
    float: left;
    width: 380px;
    padding-top: 68px;
    padding-left: 20px;
}
.slider-1_phrase{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 55px;
}
.slider-text__container{
        padding-top: 28px;
        padding-bottom: 42px;

}
.slider-1_text p{
/*    padding-top: 28px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 55px;

}
/*
.button-slider__container{
    padding-top: 42px;
}
*/
.button-slider__container{
    width: 240px;
    height: 50px;
    background-color: #fb565a;
    margin-left: 50px;
    display: block;
}
/*
.button-slider{
    font-size: 16px;
    line-height: 18px;
}
*/
a.button-slider{
    text-decoration: none;
    color: #fff;
    padding-left: 65px;
/*    margin-top: 16px;*/
    padding-top: 16px;
/*    padding-top: 30px;*/
    font-size: 16px;
    line-height: 18px;
    display: inline-block;
}

.slider-block__right{
    float: right;
    width: 701px;
/*    padding-right: 109px;*/
}
.slider-block__right img{
    float: right;
    width: 701px;
    padding-right: 51px;
}
