html, body{
    width: 100%;
    margin: 0;
    padding: 0;
}

header{
    background-color: #eeeeee;
}
main{}
footer{}

.clearfix:after{
    content: "";
    display: block;
    clear: both;
}
.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.main-header{
    padding-bottom: 17px;
    padding-top: 50px;
}
.main-wrapper{
    width: 1200px;
    margin: 0 auto;
/*
    border-right: 1px solid #000;
    border-left: 1px solid #000;
*/
}

.flex-container {
    display: flex;
    align-items: center;
}
         /*Блок шапки*/
.main-navigation  .container{
/*    flex;*/
/*    flex-wrap: wrap;*/

/*    flex-direction: row;*/
}

.main-navigation img{
/*
    padding-left: 20px;
    padding-top: 49px;
*/
/*    float: left;*/
}
.main-navigation img:hover{
/*
    padding-left: 20px;
    padding-top: 49px;
*/
/*    float: left;*/
    opacity: 0.8;
}
.main-navigation img:active{
/*
    padding-left: 20px;
    padding-top: 49px;
*/
/*    float: left;*/
    opacity: 0.3;
}

.main-header-logo {
    margin-right: 200px;
    margin-left: 20px;
}
.site-navigation {
    list-style: none;
/*    display: flex;*/
    margin: 0;
    padding: 0;
    width: 440px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    padding-right: 200px;
/*    align-items: center;*/
/*    padding-left: 202px;*/
/*    float: left;*/
/*    padding-top: 83px;*/
}
.site-navigation-item{
/*    display: block;*/

    padding: 11px 0;
    text-align: center;
    width: 100px;
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

    font-weight: 600;
}
.site-navigation-item a{
    display: block;
/*    width: 100px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
.site-navigation-item a:hover{
    display: block;
/*    width: 100px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #fb565a;
}
.site-navigation-item a:active{
    display: block;
/*    width: 100px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #a6a6a6;
}

.site-navigation-current{
    position: relative;
}
.site-navigation-current::after{
    content: "";

    width: 60px;
    height: 2px;

    background: red;
    left: 20px;
    right: 5px;
    bottom: 0;
}
.site-navigation-current a:hover{
    color: #000;
}
/*
.site-navigation-current:hover{
    position: relative;
    color: #000;

}
*/

/*
.site-navigation-current a[href]:focus {
    position: relative;
    color: #000;
}
*/

.site-navigation-current::after {
    content: "";

    position: absolute;
    right: 20px;
    bottom: 0;

    height: 2px;

    background-color: red;
}


.navigation-studio{

}

.navigation-clients{
/*    padding-left: 47px;*/
    margin-right: 20px;
}
.navigation-shop{
/*    padding-left: 48px;*/
    margin-right: 20px;
}
.navigation-contacts{
/*    padding-left: 45px;*/
}

.cart-container{
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    padding: 11px 0;
    width: 160px;
/*
        background-color: rgba(234, 255, 45, 0.2);
    box-shadow: inset 0 0 0 2px rgb(234, 255, 45);
*/
/*    text-align: left;*/
/*    margin-left: auto;*/
/*    display: flex;*/
/*    padding-left: 286px;*/
/*    float: right;*/
/*    padding-top: 83px;*/
}
.cart-container a{
    display: block;
    width: 160px;
    text-align: right;
/*    padding-left: 286px;*/
/*    float: right;*/
/*    padding-top: 83px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}

/*
.cart-container a::before{


}
*/

.cart-container a:hover{
    width: 160px;
    text-align: right;
/*    padding-left: 286px;*/
/*    float: right;*/
/*    padding-top: 83px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #fb565a;
}
.cart-container a:active{
    width: 160px;
/*    text-align: right;*/
/*    padding-left: 286px;*/
/*    float: right;*/
/*    padding-top: 83px;*/
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
    color: #a6a6a6;
}

.cart-container .cart {
    position: relative;
/*    padding-left: 50px;*/
}

.cart::before {
    content: "";

    position: absolute;
    width: 16px;
    height: 18px;
    left: 55px;

/*    background-color: #ff0000;*/
        background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
    background-repeat: no-repeat;
    top: 2px;
    opacity: 0.4;


/*
    background-image: url(../img/cart-icon.svg);
    background-position: 0 0;
*/
}


.cart{
/*
    color: #000;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
*/
}



.slider-block__container{
    background-color: #eeeeee;
    width: 100%;
}
.slider-block__left{
    background-color: #eeeeee;
    float: left;
    width: 380px;
    padding-top: 68px;
    padding-left: 20px;
}
.slider-1_phrase{
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 55px;
}
.slider-text__container{
        padding-top: 28px;
        padding-bottom: 42px;

}
.slider-1_text p{
/*    padding-top: 28px;*/
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    line-height: 55px;

}
/*
.button-slider__container{
    padding-top: 42px;
}
*/
.button-slider__container a{
    width: 240px;
/*    margin: 0 auto;*/
    text-align: center;
    padding: 16px 0;
/*    height: 50px;*/
/*    padding: 16px 0;*/
    background-color: #fb565a;
/*    margin-left: 50px;*/
    display: block;
    border-radius: 2px;
}
.button-slider__container a:hover{
    width: 240px;
/*    height: 50px;*/
    background-color: #e74246;
/*    margin-left: 50px;*/
    display: block;
    border-radius: 2px;
}
.button-slider__container a:active{
    width: 240px;
/*    height: 50px;*/
    background-color: #d7373b;
/*    margin-left: 50px;*/
    display: block;
    border-radius: 2px;
}
/*
.button-slider{
    font-size: 16px;
    line-height: 18px;
}
*/
a.button-slider{
    text-decoration: none;
    color: #fff;
/*    padding: 16px 0;*/
/*    padding-left: 55px;*/
/*    margin-top: 16px;*/
/*    padding-top: 16px;*/
/*    padding-top: 30px;*/
    font-size: 16px;
    line-height: 18px;
/*    display: inline-block;*/
    text-transform: uppercase;
}
a.button-slider:active{
    text-decoration: none;
    color: #e37376;
/*    padding-left: 55px;*/
/*    margin-top: 16px;*/
/*    padding-top: 16px;*/
/*    padding-top: 30px;*/
    font-size: 16px;
    line-height: 18px;
/*    display: inline-block;*/
    text-transform: uppercase;
}

.slider-block__right{
    float: right;
    width: 701px;
/*    padding-right: 109px;*/
}
.slider-block__right img{
    float: right;
    width: 701px;
    padding-right: 51px;
}

/*Блок приемущества*/

.advantages{
    margin-top: 80px;
    margin-bottom: 80px;
}

.advantages-list{
    list-style: none;
    margin: 0;
    padding: 0;
}

.advantages-container {
    display: flex;
}

.advantages-list-item{
/*    display: inline-block;*/
    width: 300px;
}
.web-sites{
    padding-left: 20px;
}
.web-sites__title-block h3{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 19px;
    text-transform: uppercase;
}

.web-sites__text p{
    display: block;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    padding-bottom: 34px;
}

.advantages-list-item__wrapper-button{
    width: 160px;
/*    padding: 16px 0;*/
    text-align: center;
/*    height: 50px;*/
/*    margin-top: 38px;*/
/*    background-color: #fb565a;*/
    display: block;
}
.advantages-list-item__wrapper-button a{
    width: 160px;
    padding: 16px 0;
    text-align: center;
/*    height: 50px;*/
/*    margin-top: 38px;*/
/*    background-color: #fb565a;*/
    display: block;
}
.button-red{
    background-color: #fb565a;
    border-radius: 2px;
}
.button-red:hover{
    background-color: #e74246;
    border-radius: 2px;
}
.button-red:active{
    background-color: #d7373b;
    border-radius: 2px;
}
.button-red-link{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
    display: inline-block;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.button-red-link:active{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
/*    display: inline-block;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #e37376;
    text-transform: uppercase;
}

.applications{
    padding-left: 100px;
}
.applications__title-block h3{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 19px;
}

.applications__text p {
    display: block;
    margin: 0;
    padding: 0;

    font-size: 16px;
    line-height: 24px;

    padding-bottom: 34px;
}
.button-green{
    background-color: #00ca74;
    border-radius: 2px;
}
.button-green:hover{
    background-color: #00bc6c;
    border-radius: 2px;
}
.button-green:active{
    background-color: #00aa62;
    border-radius: 2px;
    color: #2caa74;
/*    color: rgba(77, 196, 145, 0.2);*/
}
.button-green-link{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
/*    display: inline-block;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.button-green-link:active{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
/*    display: inline-block;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #48c28e;
    text-transform: uppercase;
}

.presentations{
    padding-left: 100px;
}
.presentation__title{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 600;
    padding-top: 26px;
    padding-bottom: 19px;
}

.presentation__text p {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 24px;

    padding-bottom: 34px;
}

.button-yellow{
    background-color: #efc84a;
    border-radius: 2px;
}
.button-yellow:hover{
    background-color: #eab534;
    border-radius: 2px;
}
.button-yellow:active{
    background-color: #e5a722;
    border-radius: 2px;
}
.button-yellow-link{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
/*    display: inline-block;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
}
.button-yellow-link:active{
/*    padding-left: 40px;*/
/*    padding-top: 18px;*/
/*    display: inline-block;*/
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    color: #edc265;
    text-transform: uppercase;
}
/*Линия после приемущиств, вместо бордера*/
div.line-after{
    height: 2px;
    background-color: #eee;
    width: 1160px;
    margin: 0 auto;
}

/*Блок студии*/

.studio-block{
    padding-top: 40px;
}
.studio-block__top-wrapper{
    margin-bottom: 78px;
}
.studio-block__about-us{
    margin-bottom: 48px;
}
.studio-block__about{
    float: left;
    width: 660px;
    padding-left: 20px;
    padding-top: 40px;
}
.studio-block__about-us b{
    font-size: 45px;
    font-family: 'Roboto', sans-serif;
    line-height: 45px;

}
.studio-block__about-text{
    margin-top: 38px;
}
.about-orders{
    margin-bottom: 36px;
}

.about-orders__list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}
.about-orders__list-items{
/*    background-image: url(../img/line-red.png) 0px no-repeat;*/
/*    list-style-image: url(../img/line-red.png);*/
    padding-left: 20px;
/*    margin-top: 40xp;*/
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.studio-block__accuracy{
    float: right;
    width: 360px;
    padding-right: 20px;
    margin-top: 10px;
}
.accuracy__images-block{
    margin-bottom: 45px;
}

.accuracy__text-block b{
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
}
.accuracy__text-block-text-wrapper{
    margin-top: 48px;
}

.accuracy-text__block{
    width: 110px;
    display: inline-block;
}
.percents{
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}
.accuracy-text__block-desc{
    margin-top: 26px;
}

/*Блок студии со спонсорами*/

.studio-block__sponsors{
    margin-top: 46px;
    margin-bottom: 42px;
}

.sponsors__wrapper{
    padding-left: 51px;
/*
    width: 1086px;
    height: 92px;
*/
}
.sponsors__list{
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
    list-style: none;
}
.sponsors__list-item{
    display: inline-block;
}
.sponsors__htmlacademy{
/*    padding-right: 49px;*/
}
.sponsors__htmlacademy img{
    padding-right: 49px;
    opacity: 0.4;
}
.sponsors__htmlacademy img:hover{
    padding-right: 49px;
    opacity: 1;
}
.sponsors__htmlacademy img:active{
    padding-right: 49px;
    opacity: 0.1;
}
.sponsors__barbershop{
/*
    padding-left: 45px;
    padding-right: 45px;
*/
}
.sponsors__barbershop img{
    padding-left: 45px;
    padding-right: 45px;
    opacity: 0.4;
}
.sponsors__barbershop img:hover{
    padding-left: 45px;
    padding-right: 45px;
    opacity: 1;
}
.sponsors__barbershop img:active{
    padding-left: 45px;
    padding-right: 45px;
    opacity: 0.1;
}
.sponsors__pink{
/*
    padding-left: 57px;
    padding-right: 56px;
*/
}
.sponsors__pink img{
    padding-left: 57px;
    padding-right: 56px;
    opacity: 0.4;
}
.sponsors__pink img:hover{
    padding-left: 57px;
    padding-right: 56px;
    opacity: 1;
}
.sponsors__pink img:active{
    padding-left: 57px;
    padding-right: 56px;
    opacity: 0.1;
}
.sponsors__mishka{
/*    padding-left: 64px;*/
}
.sponsors__mishka img{
    padding-left: 64px;
    opacity: 0.4;
}
.sponsors__mishka img:hover{
    padding-left: 64px;
    opacity: 1;
}
.sponsors__mishka img:active{
    padding-left: 64px;
    opacity: 0.1;
}

/*Секция карты*/

.section-map{
/*    background-color: bisque;*/
    background-image: url(../img/Map.png);
    background-position: center;
    background-repeat: no-repeat;

    height: 416px;
/*    position: relative;*/

    margin-top: 80px;
}
.section-map__container{
    position: relative;
    display: block;
    width: 1200px;
        margin: 0 auto;
}
.section-map__address-block{
    width: 319px;
/*    height: 308px;*/
    background-color: #fff;
    position: absolute;
    top: 54px;
    left: 20px;
/*    margin-left: 20px;*/
/*    left: 2%;*/
}

.section-map__wrapper{
/*    position: relative;*/
    margin-left: 50px;
    margin-top: 54px;
    font-style: normal;
}
.section-map__wrapper b{
    margin: 0;
    padding: 0;
    margin-top: 26px;
/*
    padding-top: 54px;
    padding-left: 50px;
*/
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
/*    padding-bottom: 33px;*/
}
.section-map__wrapper p{
    margin: 0;
    padding: 0;
    margin-top: 24px;
    color: #666666;
    line-height: 18px;
    font-size: 16px;
}
.section-map__wrapper a{
    width: 220px;
    margin: 0;
    padding: 0;
    margin-top: 35px;
    margin-bottom: 46px;
    padding: 16px 0;
    display: block;
    text-align: center;

    border-radius: 2px;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color: #fff;
    background-color: #fb565a;

}

/*
.section-map__text-wrapper{
    padding-top: 54px;
    padding-left: 50px;
    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding-bottom: 33px;
}
*/
/*
.section-map__address-wrapper{
    padding-left: 50px;
}
*/
/*
.section-map__address{
    padding-left: 50px;
        color: #666666;
}
*/
/*
.section-map__tel-wrapper{
    padding-left: 50px;
    padding-top: 23px;
    padding-bottom: 37px;
}
*/
/*
.section-map__tel{
    color: #666666;
}
*/
/*
.section-map__button-wrapper{
    width: 219px;
    height: 50px;
    background-color: #fb565a;
    display: block;
    margin-left: 50px;

}
*/
/*.section-map__button{*/
/*    text-decoration: none;*/
/*
    text-transform: uppercase;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
*/
/*    margin-left: 44px;*/
/*    margin-top: 17px;*/
/*    display: inline-block;*/
/*    font-style: normal;*/
/*}*/

/*Блок футера*/

.main-footer {
    margin: 0 auto;
    width: 1200px;
}
.footer-wrapper{

    margin: 0 20px;

    background-color: #fff;
    margin-bottom: 70px;
    margin-top: 70px;
    display: block;
}


.main-footer .footer-flex-container {
    display: flex;
    flex-wrap: wrap;
/*    align-items: center;*/
}


.social-media{
    width: 260px;
/*    float: left;*/
/*    padding-top: 69px;*/
/*    padding-left: 20px;*/
    margin-right: 140px;
}

.social-flex {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
/*
.social-media__list{
    margin: 0;
    padding: 0;
    list-style: none;
    float: left;
}
.social-media__list-item{
    display: inline-block;
}
.social-media__list-item{
    display: inline-block;
}
*/
.vk__images-block{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
    position: relative;
}
.vk__images-block:hover{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e74246;
    position: relative;
}
.vk__images-block:active{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #d7373b;
    position: relative;
}
.vk__images-block img{
    padding-left: 25px;
    padding-top: 32px;
}

.fb__images-block{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
    position: relative;
}
.fb__images-block:hover{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e74246;
    position: relative;
}
.fb__images-block:active{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #d7373b;
    position: relative;
}
.fb__images-block img{
    padding-left: 32px;
    padding-top: 25px;
}

.instagram__images-block{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e1e1e1;
    position: relative;
}
.instagram__images-block:hover{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #e74246;
    position: relative;
}
.instagram__images-block:active{
    width: 78px;
    height: 78px;
    border-radius: 50%;
    background-color: #d7373b;
    position: relative;
}
.instagram__images-block img{
    padding-left: 29px;
    padding-top: 27px;
}


.discount{
    width: 560px;
/*    float: right;*/
/*    padding-top: 18px;*/
/*    padding-right: 236px;*/
}
.discount-wrapper{
/*    float: right;*/
}
/*
.discount__title-wrapper{
    padding-bottom: 12px;
}
*/
.discount__title{
    display: block;
    padding: 0;
    margin: 0;
    line-height: 36px;
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    padding-bottom: 12px;
}
.discount__text{
    padding: 0;
    margin: 0;
    color: #444444;
    line-height: 22px;
    font-size: 16px;
}

/*Модальные окна*/

.modal{
    position: fixed;
    display: none;
    color: #000;
    background-color: #fff;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);

/*    z-index: 2;*/
}

.modal-show {
    display: block;
}

.write-us {
/*    position: relative;*/
    width: 960px;
/*    min-height: 590px;*/
    margin: 0 auto;
/*    display: none;*/
/*    border: 4px solid red;*/
    top: 120px;
    left: 50%;

    margin-left: -480px;
}

.write-us__title {
    display: block;

    margin: 0;
    padding: 0;
    width: 760px;
    margin: 0 auto;
    margin-bottom: 35px;
    margin-top: 66px;

    line-height: 45px;
    font-family: 'Roboto', sans-serif;
    font-size: 45px;
}
.write-us__form{

/*    min-height: 590px;*/
    background-color: #fff;
}

.write-us__main-wrapper {
    width: 760px;
    margin: 0 auto;
}

.write-us__name-email--wrapper:nth-child(1) {
/*    margin-right: 40px;*/
}

.write-us__name-email--wrapper {
    display: flex;
    justify-content: space-between;
    width: 760px;
/*    margin: 0 auto;*/
    margin-bottom: 32px;
/*    justify-content: space-between;*/
}

.write-us__name-email--wrapper b {
    width: 360px;
    display: block;
}

.write-us__left {
    display: block;
/*    margin-right: 40px;*/

}
.write-us__left label{
    display: block;
    padding-bottom: 12px;

    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}
.write-us__name-email--wrapper input[type=text]{
    display: block;
    width: 346px; /* width -padding-left = 360-14 =346*/
    padding: 12px 0;
    padding-left: 14px;
/*    box-sizing: border-box;*/
/*    padding-left: 55px;*/
/*    padding: 12px 0 12px 14px;*/
/*    background-color: rgba(39, 0, 255, 0.74);*/
}
.write-us__name-email--wrapper input[type=email]{
    width: 346px; /* width -padding-left = 360-14 =346*/
/*    padding: 12px 0 12px 14px;*/
    padding: 12px 0;
    padding-left: 14px;
/*    background-color: rgba(39, 0, 255, 0.74);*/
}


.write-us__right {
    display: block;
}
.write-us__right label{
    display: block;
    padding-bottom: 12px;

    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.write-us__letter{
    display: block;
    margin-bottom: 48px;
}
.write-us__letter label {
    display: block;
    margin-bottom: 10px;

    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

.write-us__letter textarea {
    display: block;
    width: 746px; /* width -padding-left = 760-14 =646*/
    padding-left: 14px;
/*    min-height: 112px;*/
}

.write-us__main-wrapper .send {
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;

    width: 260px;
    text-align: center;
    padding: 16px 0;
    margin-bottom: 84px;

    border-radius: 2px;

    color: #fff;
    background-color: #fb565a;
    text-decoration: none;
    text-transform: uppercase;
}

.modal-close{
    position: absolute;
    top: 78px;
    right: 90px;

    width: 21px;
    height: 21px;

    font-size: 0;

    border: 0;
    background-color: transparent;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 0;

    width: 21px;
    height: 3px;

    background-color: #fecccd;
}
.modal-close:hover::before,
.modal-close:hover::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 0;

    width: 21px;
    height: 3px;

    background-color: #fb565a;
}
.modal-close:active::before,
.modal-close:active::after {
    content: "";

    position: absolute;
    top: 9px;
    right: 0;

    width: 21px;
    height: 3px;

    background-color: #ffeeee;
}

.modal-close::before {
    transform: rotate(45deg);
}
.modal-close::after {
    transform: rotate(-45deg);
}

/*Стили к странице каталога*/

/*Шапка*/
.catalog-header {
    margin: 0;
    padding: 0;
    padding-top: 50px;
/*    padding-bottom: 74px;*/
}

.main-title {
    margin: 0;
    padding: 0;

    display: block;

    line-height: 55px;
    font-family: 'Roboto', sans-serif;
    font-size: 55px;
    text-align: center;
    padding-top: 75px;
    padding-bottom: 102px;
}

/*Каталог*/

/*Фильтр товаров*/
.catalog-main-wrapper {
    width: 1160px;
    margin: 0 auto;
    padding: 0 20px;
}

.catalog-flex-container {
    display: flex;
    justify-content: space-between;
}

.filters {
    width: 260px;
    min-height: 2102px;
}


.filter fieldset {
    border: none;
    margin: 0;
    padding: 0;
}

.filter legend {
    padding: 0;
    margin: 0;
    display: block;

    line-height: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}
.filter .cost  {
    display: block;
    padding-top: 60px;
    padding-bottom: 52px;
}
.price-range-list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-bottom: 60px;
}


.price-range-item {
    width: 260px;
    min-height: 80px;

    border-radius: 2px;

    background-color: #eee;

    margin-bottom: 14px;
}

.range-flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.range-flex-container input[type=range] {
/*    align-items: center;*/
    width: 222px;;
}

.range-slider {
-webkit-appearance: none;
    width: 100%;
    height: 2px;
    border-radius: 5px;
    background: #00ca74;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.range-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #ffffff;
    cursor: pointer;
}
.range-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.flex-input-container {
    display: flex;
    justify-content: space-between
}

.price-min-max {
    width: 116px;
}

.price-from-min label {
/*    display: block;*/
    margin-right: 10px;
}
.price-from-min input[type=text] {
    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    padding: 11px 0;
    text-align: center;
    background-color: #eee;
}

.price-to-max label {
    margin-right: 12px;
}

.price-to-max input[type=text] {
    margin: 0;
    padding: 0;
    border: none;
    width: 80px;
    padding: 11px 0;
    text-align: center;
    background-color: #eee;
}


.filter-grid{
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 16px;
    margin-bottom: 50px;
}
.filter-option {
    padding-bottom: 15px;
}
.grid-radio {
    position: relative;
    padding-left: 30px;

    cursor: pointer;
}

.grid-radio:hover,
.grid-radio:active {
    color: #4d4d4d;
}

.grid-radio input[type="radio"] + .radio-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 25px;
    height: 25px;
    background-image: url(../img/radio-off.svg);
/*    border: 2px solid #000;*/
}

.grid-radio input[type="radio"]:focus + .radio-indicator {
    border-color: #4d4d4d    ;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.grid-radio input[type="radio"]:hover + .radio-indicator {
    background-image: url(../img/radio-on-hover.svg);
}

.grid-radio input[type="radio"]:checked + .radio-indicator {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../img/radio-on-hover.svg);
    opacity: 0.1;
}

.filter-features {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 18px;
    margin-bottom: 48px;
}

.features-checkbox {
    position: relative;
    padding-left: 30px;

    cursor: pointer;
}

.features-checkbox input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 23px;
    height: 23px;
    background-image: url(../img/checkbox-off-normal.svg);
}

.features-checkbox  input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #4d4d4d;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}

.features-checkbox  input[type="checkbox"]:hover + .checkbox-indicator {
    position: absolute;
    top: 0;
    left: 0;

    width: 24px;
    height: 23px;
    background-image: url(../img/checkbox-on-hover.svg);
}

.features-checkbox:checked {
    color: #ededed;
}

.features-checkbox  input[type="checkbox"]:checked + .checkbox-indicator {
    content: "";

    position: absolute;
    top: 0;
    left: 0;

    background-image: url(../img/checkbox-on-checked.svg);
    opacity: 0.1;
}

.filter-button {
    width: 260px;
    padding: 16px 0;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    background-color: #eee;
}
.filter-button:hover {
    width: 260px;
    padding: 16px 0;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    background-color: #dfdfdf;
}
.filter-button:active {
    width: 260px;
    padding: 16px 0;
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;

    background-color: #d5d5d5;
}


/*Раздел товаров*/

.catalog {
    width: 760px;
    padding: 0 20px;
}

.catalog-flex{
    display: flex;
    flex-wrap: wrap;
/*    width: 100%;*/
}

.sort-container {
    display: flex;
    flex-wrap: wrap;
    flex-basis: 760px;
    justify-content: space-between;
    margin-top: 67px;
    margin-bottom: 52px;
/*    min-height: 87px;*/
/*    margin: 0 auto;*/
}
.sort-word {
/*    display: block;*/
    flex-basis: 360px;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 18px;
    text-transform: uppercase;
}

.sort-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    flex-basis: 360px;
    justify-content: space-between;

}
.sort-menu-item {

}
.sort-menu-item a {
    color: #000;
    opacity: 0.3;
    text-decoration: none;
    text-transform: uppercase;

    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}

.sort-menu-item a:hover {
    color: #666666;
    opacity: 1;
}

.sort-menu-item a:active {
    color: #000;
    opacity: 1;
}

.sort-menu-item-current a {
    color: #000;
    opacity: 1;
}

.down-up__flex-container {
    display: flex;
    width: 60px;
    height: 19px;
/*    padding: 1px 0;*/
/*    background-color: red;*/
/*    justify-content: space-between;*/
    justify-content: flex-end;
}
/*
.down-up a::after {
    content: "";

    width: 21px;
    height: 11px;

    position: absolute;
    left: 3px;
    top: 3px;

    background-image: url(../img/icon-down-dir-normal.svg);
    background-position: 0 0;

}
*/
.sort-menu-item__down-up-current .sort-down {
    flex-basis: 11px;
    margin: 0 auto;
    opacity: 1;
}
.sort-up {
    flex-basis: 11px;
    opacity: 0.3;
}

.sort-up:hover {
    flex-basis: 11px;
    opacity: 0.6;
}

.sort-up:active {
    flex-basis: 11px;
    opacity: 1;
}


.sort-menu-flex {
    display: flex;
    flex-wrap: wrap;
}




.catalog-list-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.catalog-list {
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    min-height: 616px;
    flex-basis: 360px;
    background-color: #e9e9e9;
    height: 600px;
    margin-bottom: 32px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.catalog-item .catalog-item__block1::before {
    content: "";

    position: absolute;

    width: 21px;
    height: 21px;
    background-color: #fff;
    border-radius: 50%;

    left: 20px;
    top: 10px;

}
/*
.catalog-item__block1:hover::after ~ .catalog-item__block2 {
    display: block;
    content: "";
    position: absolute;

    width: 360px;
    height: 230px;

    top: 285px;
    left: 0;
    background-color: red;
}
*/
.catalog-item__block1 {
    position: relative;
    height: 616px;
    flex-basis: 360px;
    background-color: #e9e9e9;
}
.catalog-item__block1:hover {
    background-color: #4d4d4d;
}



.catalog-item__block2 {
    position: absolute;
    width: 360px;
    height: 230px;
    left: 0;
    bottom: 0;
    right: 0;
    top: 385px;
/*    background-color: rgba(255, 255, 255, 0.7);*/
    display: none;
    text-align: center;
    background-color: #eee;
    box-shadow: 0 1px 3px rgba(66, 62, 87, 0.59);
}
.catalog-item__block1:hover .catalog-item__block2 {
    display: block;
}


.catalog-item--bottom-default{
    margin-bottom: 0;
}

/*
.catalog-item:hover {
    background-color: #4d4d4d;
}
*/
/*
.catalog-item:hover::after {
    content: "";
    position: absolute;

    width: 360px;
    height: 230px;

    top: 385px;
    left: 0;

}
*/

.catalog-item img {
    width: 360;
    height: 576px;
    margin-top: 40px;
}

/*
.catalog-item__block2 {
    display: none;
    background-color: #eee;
}
*/

.catalog-item__block2 h3 {
    display: block;
    padding: 0;
    margin: 0;

    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    line-height: 30px;

    margin-top: 27px;
    margin-bottom: 15px;
}

.catalog-item__block2 p {
    display: block;
    padding: 0;
    margin: 0;
    width: 200px;

    margin: 0 auto;

    color: #666666;

    margin-bottom: 25px;
}

.catalog-item__block2 a {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #fb565a;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px solid #fb565a;
    text-decoration: none;
    margin-bottom: 30px;
}
.catalog-item__block2 a:hover {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #e74246;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 30px;
}
.catalog-item__block2 a:active {
    display: block;
    width: 240px;
    padding: 16px 0;
    margin: 0 auto;

    box-sizing: border-box;

    background-color: #d7373b;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    text-decoration: none;
    margin-bottom: 30px;
}


.pagination-list {
    display: flex;
    flex-basis: 443px;
    flex-wrap: wrap;
    list-style: none;

    margin: 0;
    padding: 0;
    margin-top: 60px;
    justify-content: space-between;
}

.pagination-list .pagination-item {
    box-sizing: border-box;
/*    flex-basis: 50px;*/

/*    margin: auto;*/
    background-color: #eee;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600px;
    text-align: center;
}



.pagination-item a {
    display: block;
    width: 50px;
    padding: 16px 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600px;
    text-align: center;

    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}
.pagination-item a:hover {
    background-color: #dfdfdf;
}
.pagination-item a:active {
    background-color: #d5d5d5;
/*    opacity: 0.3;*/
    color: #959595;
}
.pagination-list .pagination-item-current {
    width: 50px;
    display: block;

    box-sizing: border-box;
    background-color: #fff;

}

.pagination-item-current a {
    display: block;
    padding: 0;
    padding: 13px 0;
    box-sizing: border-box;
    border: 3px solid #dbdbdb;
}

.pagination-list .pagination-item__next{
    flex-basis: 260px;
    text-align: center;
}
.pagination-item__next a{
    width: 260px;
    text-align: center;
}


.section-map__container--inner {
    margin-top: 60px;
}
